<main>
<div class='container'>
    <div class=“row”>
        <div class='mx-auto col-lg-14'>
            <h2>詳細</h2>
            
            <p>コメント件数：<%= @catch.catch_comments.count %></p>
            <table class = "table table-bordered">
                <tr>
                    <td><label for="魚">魚</label></td>
                    <td><%= @catch.fish %></td>
                </tr>
                <tr>
                <td>写真</td>
                <td>
                    <% if @catch.image.attached? %>
                    <%= image_tag @catch.image, size: "200x200" %>
                    <% else %>
                    <%= image_tag 'no_image', size: "200x200" %>
                    <% end %>
                </td>
                </tr>
                <tr>
                    <td><label for="道具">道具</label></td>
                <td><%= @catch.gear %></td>
                </tr>
                <tr>
                    <td><label for="場所">場所</label></td>
                <td><%= @catch.point %></td>
                </tr>
                <tr>
                    <td><label for="日にち・時間">日にち・時間</label></td>
                <td>
                    <%= @catch.day %>
                    <%= @catch.time.strftime('%H時%M分')  %>
                </td>
                </tr>
                <tr>
                <td><h3>釣行場所</h3></td>
                <td>
                    <div class="map">
                    <div id="map" style='width:600px; height:400px;'>
                    </div>
                    </div>
                </td>
                </tr>
                <tr>
                <tr>
                <td><label for="その他">その他</label></td>
                <td><%= @catch.comment %></td>
                </tr>
                <td>削除する</td>
                <td><%= link_to "投稿を削除する", admins_catch_path(@catch.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-14'>
        <table class = "table table-bordered">
            <% @catch.catch_comments.each do |catch_comment| %>
            <tr>
                <td>ユーザー・<%= catch_comment.user.name %></td>
                <td><%= catch_comment.comment %></td>
                <td><%= link_to "コメントを削除する", admins_catch_catch_comment_path(@catch.id, catch_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
            <% end %>
        </table>
        
    </div>
</div>
</main>

<script >
function initMap(){
    geocoder = new google.maps.Geocoder()
    let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%= @catch.latitude %>, lng: <%= @catch.longitude %> },
        zoom: 15
    });
    let marker = new google.maps.Marker({
        position: {lat: <%= @catch.latitude %>, lng: <%= @catch.longitude %> },
        map: map
    })
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
