<h1>釣果</h1>

<%= form_with model: @catch, url:'/public/catches' do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <h4>釣果</h4>
  <%= f.text_field :fish %><br>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>道具</h4>
  <%= f.text_field :gear %>
  
  <h4>場所</h4>
  <%= f.text_field :point %>
  
  <h4>日にち</h4>
  <%= f.date_field :day %>
  <h4>時間</h4>
  <%= f.time_field :time %>
  
  <h4>その他</h4>
  <%= f.text_area :comment %>
  <!-- 追加部分 -->
  
  <h3>釣行場所</h3>
  
  <%= f.label :address, '場所' %>
  <%= f.text_field :address, class: 'form-control' %>
  
  
  <div class="map">
    
    
    <!-- 地名入力用のinputを追加 -->
    <input id="address" type="textbox" value="Sydney, NSW">
    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="Encode" onclick="codeAddress()">

    
    <div id="map" style='width:800px; height:600px;'>
    </div>
  </div>

  <%= f.submit '投稿' %>
  
<% end %>
<script >
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.681236, lng: 139.767125 },
  zoom: 15
  });
}
      
      function codeAddress(){
        // 入力を取得
        let inputAddress = document.getElementById('address').value;
        // geocodingしたあとmapを移動
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            // map.setCenterで地図が移動
            map.setCenter(results[0].geometry.location);
            // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
            let address = results[0].formatted_address.split(' ')
            console.log(address[1]);
            $('#catch_address').val(address[1])
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
      
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  



  <!--<input id="address" type="textbox" value="">-->
  <!--<input type="button" value="地図を検索" onclick="codeAddress()">-->
  <!--<div id="display">-->