<% if @catch.errors.any? %>
  <%= @catch.errors.count %>件のエラーが発生しました
  <ul>
    <% @catch.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<main>
  <div class='container'>
    <h1><%= image_tag 'fishing.png', size: "100x100" %>釣果投稿</h1>
  </div>
  <div class='back'>
  
<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-12 back-table'>
      <%= form_with model: @catch, url:'/public/catches' do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      
      <table class = "table table-bordered back-table">
        <tr>
          <td>釣果</td>
          <td><%= f.text_field :fish %></td>
        </tr>
        <tr>
          <td>画像</td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td>道具</td>
          <td><%= f.text_field :gear %></td>
        </tr>
        <tr>
          <td>場所</td>
          <td><%= f.text_field :point %></td>
        </tr>
        <tr>
          <td>日にち</td>
          <td><%= f.date_field :day %></td>
        </tr>
        <tr>
          <td>時間</td>
          <td><%= f.time_field :time %></td>
        </tr>
        <tr>
          <td>その他</td>
          <td><%= f.text_area :comment %></td>
        </tr>
        <!-- 追加部分 -->
        <tr>
          <td><h3><%= f.label :address, '釣行場所' %></h3></td>
          <td><%= f.text_field :address, class: 'form-control' %></td>
        </tr>
        <tr>
          <div class="map">
            <td>
            <!-- 地名入力用のinputを追加 -->
            <input id="address" type="textbox" value="東京">
            <!-- buttonをクリックしたらcodeAddressを実行　-->
            <input type="button" value="検索" onclick="codeAddress()">
            </td>
            <td>
              <div id="map" style='width:800px; height:600px;'>
              </div>
            </td>
          </div>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit '投稿',style: 'width:200px; height:40px; ,my-30px;' %>
            <% end %>
          </td>
          
      </table>
    </die>
  </die>
</die>
</div>
</main>

<script >
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.681236, lng: 139.767125 },
  zoom: 15
  });
}
      
      function codeAddress(){
        // 入力を取得
        let inputAddress = document.getElementById('address').value;
        // geocodingしたあとmapを移動
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            // map.setCenterで地図が移動
            map.setCenter(results[0].geometry.location);
            // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
            let address = results[0].formatted_address.split(' ')
            console.log(address[1]);
            $('#catch_address').val(address[1])
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
      
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  

<%#= render "public/footers/footer" %>

  <!--<input id="address" type="textbox" value="">-->
  <!--<input type="button" value="地図を検索" onclick="codeAddress()">-->
  <!--<div id="display">-->