<h1>釣果</h1>

<%= form_with model: @catch, url:'/public/catches' do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <h4>釣果</h4>
  <%= f.text_field :fish %><br>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>道具</h4>
  <%= f.text_field :gear %>
  
  <h4>場所</h4>
  <%= f.text_field :point %>
  
  <h4>日にち</h4>
  <%= f.date_field :day %>
  <h4>時間</h4>
  <%= f.time_field :time %>
  
  <h4>その他</h4>
  <%= f.text_area :comment %>
  <!-- 追加部分 -->
  
  
  <%= f.submit '投稿' %>
  
<% end %>