
<div class='container'>
  <h4>
    <%= link_to "ユーザーを削除する", admins_user_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </h4>
  <h4>
    <%= link_to "ユーザーを停止・再開させる", edit_admins_user_path %>
  </h4>
  <h4>会員ステータス</h4>
        <% if @user.is_deleted == true %>
        <h4 class="text-secondary" ><strong>停止</strong></h4>
        <% else %>
        <h4 class="text-success" ><strong>有効</strong></h4>
        <% end %>
        
  
  <div class=“row”>
    <div class='mx-auto col-lg-12'>
      <h1>投稿一覧</h1>
      
        <% @catches.each do |catch| %>
        <table class = "table table-bordered">
        <tr>
          <td><%= @user.name %></td>
          <td>釣果・<%= catch.fish %></td>
          <td>
          <% if catch.image.attached? %>
          <%= image_tag catch.image, size: "200x200" %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
          </td>
          <td><%= catch.gear %></td>
          <td><%= catch.point %></td>
          <td><%= catch.day %>
          <%= catch.time %>
          </td>
          <td><%= link_to "投稿を削除する", admins_catch_path(catch.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      </table>
      
      <%#= if catch.catch_comments.count=true %>
      
      <%# else %>
      <%# end %>
      <table class='table'>
          <tr>
            <th>名前</th>
            <th>コメント</th>
            <th>詳細</th>
          </tr>
      
      <% catch.catch_comments.each do |catch_comment| %>
      
        <tr>
          <td><%= catch_comment.user.name %></td>
          <td><%= catch_comment.comment %></td>
          <td><%= link_to "コメントを削除する", admins_catch_catch_comment_path(catch.id, catch_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
        <% end %>
         
      <% end %>
   </table>
    
    </die>
  </die>
</die>