<% if @model == 'user' %>
  <h3>【ユーザー】検索ワード：<%= @content %></h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'fish' %>
  <h3>【釣果】検索ワード：<%= @content %></h3>
    <%= render 'public/catches/index', catches: @records %>
<% elsif @model == 'address' %>
  <h3>【住所】検索ワード：<%= @content %></h3>
    <%= render 'public/catches/index', catches: @records %>
<% end %>