
<div class='container'>
  <h4>いいね一覧</h4>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <table class = "table table-bordered">
        <% @favorite_catches.each do |catch| %>
        
        <tr>
          
          <th>釣果<%= catch.fish %>
          <% if catch.image.attached? %>
          <%= image_tag catch.image, size: "200x200" %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
          </th>
        </tr>
        <tr>
          <th><%= catch.gear %></th>
        </tr>
        <tr>
          <th><%= catch.point %></th>
        </tr>
        <tr>
          <th><%= catch.day %>
          <%= catch.time %>
          </th>
        </tr>
        <tr>
          <th>
            <% if catch.comment == true %>
            <%= catch.comment %>
            <% else %>
            <%= "コメントなし" %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th id="favorite_buttons_<%= catch.id %>">
          <%= render "public/favorites/favorites", catch: catch %>
          </th>
        </tr>
        <tr>
          <th>
            <%= link_to "詳細", public_catch_path(catch.id) %>
          </th>
       </tr>
        <% end %>
      </table>
    </die>
  </die>
</die>