<header role="banner">
		  <p class="text-center top">
		    
		    <div class="text-nowrap border-white d-flex text-right mx-auto col-lg-12" style="color:black; width:800px; height:40px;">
		      <% if user_signed_in? %>
		      ログインユーザー:<%=link_to current_user.name, public_user_path(current_user) %>
		      <% elsif admin_signed_in? %>
		      管理者検索
		      <%= render 'admins/searchs/form', class:"text-right" %>
          <% end %>
          <div class="text-nowrap border-white d-flex text-right mx-auto col-lg-12" style="color:black;">
            <%= render 'public/searchs/form', class:"text-right" %>
            
          </div>
        </div>
        
		  </p>
		  
<!--<header class="shadow-sm">-->
<div class="position">
<%= image_tag 'maguro.png', size: "100x100" %>
</div>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:black;">
    <div class="container">
      </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
    </div>
    
     
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
        <ul class="navbar-nav ml-auto">
          
        <!--customerログイン後のヘッダー-->
        <% if user_signed_in? %>
          <li>
            <%= link_to "ユーザー", public_users_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "マイページ", public_user_path(current_user),class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "釣果", public_catches_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "釣果新規投稿", new_public_catch_path ,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <!--adminログイン後のヘッダー-->
          <% elsif admin_signed_in? %>
          <li>
            <%= link_to "釣果一覧", admins_catches_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "ユーザー一覧", admins_users_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
        <!--両者ログイン前-->
        <% else %>
          <li>
            <%#= link_to "About", public_homes_about_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%#= link_to "釣果", public_catches_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path ,class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
          <li>
            <%= link_to "ゲストユーザ（閲覧用）",  users_guest_sign_in_path , method: :post , class: 'nav-link text-nowrap text-light border border-white rounded mr-3' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

