<main>
  <div class='container'>
    <div class=“row”>
      <div class='mx-auto col-lg-9'>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h2>会員登録</h2>
        <table class = "table table-bordered">
          <tr>
            <th><%= f.label :メールアドレス %></th><br />
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          </tr>
          <tr>
            <th><%= f.label :名前 %></th><br />
            <th><%= f.text_field :name, autofocus: true, autocomplete: "name" %></th>
          </tr>
          <tr>
            <th><%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em></th>
            <% end %><br />
            <th><%= f.password_field :password, autocomplete: "new-password" %></th>
          </tr>
          <tr>
            <th><%= f.label :パスワード確認 %></th><br />
            <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
          </tr>
        </table>
        <%= f.submit "会員登録" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
